extends layout

block content
	each scoreCard, index in scoreCards
		div(class="panel panel-default")
			div(class="panel-body")
				p(class="pull-right")= scoreCard.date
				h1= scoreCard.course
				div(class="col-xs-3 col-sm-3 col-md-3")
					h3 Hole
					ul(class="list-group")
						- for (var i=1; i<19; i++)
							li(class="list-group-item") #{i}
				div(class="col-xs-4 col-sm-4 col-md-4")
					h3 Course Par
					ul(class="list-group")
						li(class="list-group-item text-center")= scoreCard.scorecard.hole1.par
						li(class="list-group-item text-center")= scoreCard.scorecard.hole2.par
						li(class="list-group-item text-center")= scoreCard.scorecard.hole3.par
						li(class="list-group-item text-center")= scoreCard.scorecard.hole4.par
						li(class="list-group-item text-center")= scoreCard.scorecard.hole5.par
						li(class="list-group-item text-center")= scoreCard.scorecard.hole6.par
						li(class="list-group-item text-center")= scoreCard.scorecard.hole7.par
						li(class="list-group-item text-center")= scoreCard.scorecard.hole8.par
						li(class="list-group-item text-center")= scoreCard.scorecard.hole9.par
						li(class="list-group-item text-center")= scoreCard.scorecard.hole10.par
						li(class="list-group-item text-center")= scoreCard.scorecard.hole11.par
						li(class="list-group-item text-center")= scoreCard.scorecard.hole12.par
						li(class="list-group-item text-center")= scoreCard.scorecard.hole13.par
						li(class="list-group-item text-center")= scoreCard.scorecard.hole14.par
						li(class="list-group-item text-center")= scoreCard.scorecard.hole15.par
						li(class="list-group-item text-center")= scoreCard.scorecard.hole16.par
						li(class="list-group-item text-center")= scoreCard.scorecard.hole17.par
						li(class="list-group-item text-center")= scoreCard.scorecard.hole18.par

				div(class="col-xs-5 col-sm-5 col-md-5")
					h3 My Score
					ul(class="list-group")
						li(class="list-group-item text-center")
							a(class="btn btn-primary btn-xs pull-left") - 
							input(value="#{scoreCard.scorecard.hole1.myscore}" class="text-center txt-score")
							a(class="btn btn-primary btn-xs pull-right") +
						li(class="list-group-item text-center")
							a(class="btn btn-primary btn-xs pull-left") - 
							input(value="#{scoreCard.scorecard.hole2.myscore}" class="text-center txt-score")
							a(class="btn btn-primary btn-xs pull-right") +
						li(class="list-group-item text-center")
							a(class="btn btn-primary btn-xs pull-left") - 
							input(value="#{scoreCard.scorecard.hole3.myscore}" class="text-center txt-score")
							a(class="btn btn-primary btn-xs pull-right") +
						li(class="list-group-item text-center")
							a(class="btn btn-primary btn-xs pull-left") - 
							input(value="#{scoreCard.scorecard.hole4.myscore}" class="text-center txt-score")
							a(class="btn btn-primary btn-xs pull-right") +
						li(class="list-group-item text-center")
							a(class="btn btn-primary btn-xs pull-left") - 
							input(value="#{scoreCard.scorecard.hole5.myscore}" class="text-center txt-score")
							a(class="btn btn-primary btn-xs pull-right") +
						li(class="list-group-item text-center")
							a(class="btn btn-primary btn-xs pull-left") - 
							input(value="#{scoreCard.scorecard.hole6.myscore}" class="text-center txt-score")
							a(class="btn btn-primary btn-xs pull-right") +
						li(class="list-group-item text-center")
							a(class="btn btn-primary btn-xs pull-left") - 
							input(value="#{scoreCard.scorecard.hole7.myscore}" class="text-center txt-score")
							a(class="btn btn-primary btn-xs pull-right") +
						li(class="list-group-item text-center")
							a(class="btn btn-primary btn-xs pull-left") - 
							input(value="#{scoreCard.scorecard.hole8.myscore}" class="text-center txt-score")
							a(class="btn btn-primary btn-xs pull-right") +
						li(class="list-group-item text-center")
							a(class="btn btn-primary btn-xs pull-left") - 
							input(value="#{scoreCard.scorecard.hole9.myscore}" class="text-center txt-score")
							a(class="btn btn-primary btn-xs pull-right") +
						li(class="list-group-item text-center")
							a(class="btn btn-primary btn-xs pull-left") - 
							input(value="#{scoreCard.scorecard.hole10.myscore}" class="text-center txt-score")
							a(class="btn btn-primary btn-xs pull-right") +
						li(class="list-group-item text-center")
							a(class="btn btn-primary btn-xs pull-left") - 
							input(value="#{scoreCard.scorecard.hole11.myscore}" class="text-center txt-score")
							a(class="btn btn-primary btn-xs pull-right") +
						li(class="list-group-item text-center")
							a(class="btn btn-primary btn-xs pull-left") - 
							input(value="#{scoreCard.scorecard.hole12.myscore}" class="text-center txt-score")
							a(class="btn btn-primary btn-xs pull-right") +
						li(class="list-group-item text-center")
							a(class="btn btn-primary btn-xs pull-left") - 
							input(value="#{scoreCard.scorecard.hole13.myscore}" class="text-center txt-score")
							a(class="btn btn-primary btn-xs pull-right") +
						li(class="list-group-item text-center")
							a(class="btn btn-primary btn-xs pull-left") - 
							input(value="#{scoreCard.scorecard.hole14.myscore}" class="text-center txt-score")
							a(class="btn btn-primary btn-xs pull-right") +
						li(class="list-group-item text-center")
							a(class="btn btn-primary btn-xs pull-left") - 
							input(value="#{scoreCard.scorecard.hole15.myscore}" class="text-center txt-score")
							a(class="btn btn-primary btn-xs pull-right") +
						li(class="list-group-item text-center")
							a(class="btn btn-primary btn-xs pull-left") - 
							input(value="#{scoreCard.scorecard.hole16.myscore}" class="text-center txt-score")
							a(class="btn btn-primary btn-xs pull-right") +
						li(class="list-group-item text-center")
							a(class="btn btn-primary btn-xs pull-left") - 
							input(value="#{scoreCard.scorecard.hole17.myscore}" class="text-center txt-score")
							a(class="btn btn-primary btn-xs pull-right") +
						li(class="list-group-item text-center")
							a(class="btn btn-primary btn-xs pull-left") - 
							input(value="#{scoreCard.scorecard.hole18.myscore}" class="text-center txt-score")
							a(class="btn btn-primary btn-xs pull-right") +
				